  <div class="card-container">

	<div class="card" routerLink = './AddExpense'>
	<img  src = "../../assets/Daily_Expense.jpg" height="150px" width="150px">
	<h5 class = "text text-info">ADD DAILY EXPENSES</h5>
	</div>

	<div class="card" routerLink = './ShowExpense'>
	<img  src = "../../assets/ExpenseReport.jpg" height="150px" width="150px">
	<h5 class = "text text-info">SHOW EXPENSE REPORT</h5>
	</div>

	<div class="card" routerLink = './ShowSavings'>
	<img  src = "../../assets/Savings.png" height="150px" width="150px">
	<h5 class = "text text-info">SHOW SAVING</h5>
	</div>

  </div>

<hr>  
  <div>
	  <router-outlet></router-outlet>
  </div>

  