
<table class = "table table-striped table-bordered">
	<thead>
	<tr>
		<th>
		<div *ngIf= "showCheckBox">
		Select
		</div>
		</th>
		<th align="center">Date</th>
		<th align="center">Category</th>
		<th align="center">Amount</th>
		<th align="center" >Comment</th>
		<th align="center">Mode of Payment</th>
	</tr>
	</thead>
	<tbody>
		<tr *ngFor="let field of fields;let i=index">
		<div *ngIf= "showCheckBox">
		<input type="checkbox" (change)="selectRow(i)">
		</div>
		<td>{{field.date}}</td>
		<td>{{field.category}}</td>
		<td>{{field.amount}}</td>
		<td>{{field.comment}}</td>
		<td>{{field.modeOfPayment}}</td>
		</tr>
	</tbody>
</table>
<div>
	<button class="btn btn-success" (click)="updateRecords()">Update</button>
	<button class="btn btn-success">Delete</button>
</div>

<div *ngFor="let row of selectedRows">
{{row}}
</div>
